/* stylelint-disable selector-list-comma-newline-after */
*{
background: linear-gradient(to left, aliceblue,rgba(240, 248, 255, 0.176),aliceblue ) ;

}
.col-4 text-center {
  color: #F4EEA9;
}
.slider-item {
  display: flex;
  width: 100%;
  height: 60vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.slider-item-asset {
  display: flex;
  width: 50%;
  height: 60vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
#myCarousel{
background-color: #f4f4825a ;
}
a{
color:black;
}
.video-youtube {
  display: flex;
  width: 100%;
  height: 130vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

}
.bd-placeholder-img {
  flex: 0 0 100%;
  width: 100%;
  height: 90%;
  object-fit: cover;
  scroll-snap-align: center;
  color: #f4f4825a;
  margin-top: 0%;
}
.body{
  background-color: aliceblue;
}
.blog-header {
  border-bottom: 1px solid #dea0bb;
  margin-bottom: 2mm;
}

.blog-header-logo {
  font-family: 'Freehand', cursive;
  font-size: 3.3rem;
  color: #e3170d;
  font-weight: bolder;
}

.blog-header-logo:hover {
  text-decoration: none;
}
.nav-scroller{
background-color: rgb(199, 224, 245);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}
/*form*/
.form {
  font-family: 'Roboto', sans-serif;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  font-family: 'Roboto', sans-serif;

}
.blog-post-title {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #A8F08A;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #e31414;
  text-align: center;
  border-top: .05rem solid;
}
.form {
  display: flex;
  width: 50%;
  height: 50%;  
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgb(228, 141, 10);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}